.about{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top,#b9c6d2 0%,#d0dde9 10.45%,#edf0f8 41.35%); 
}

.user_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    right: 0;
    
    border: 3px solid rgba(255, 255, 255, 0.5);
    z-index: 1;
}

/* flip card */
.card__face {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: hidden;
	border-radius: 16px;
	box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}


/* window-look tab */
.window{
	display: flex;
	flex-direction: column;
	width: 60%;
	height: 70%;
	
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	box-shadow: 0px 10px 20px rgba(0,0,0, 0.3);
}
@media (max-width: 1280px) {
  .window{width: 70%;}
}

.bloc_tabs {
	display: flex;
	padding-top: 10px;
    background-color: rgba(48, 51, 51, 0.507);
}
.tabs {
	border-radius: 10px 10px 0 0;
	padding: 10px;
	text-align: center;
	width: 20%;
	background: rgba(128, 128, 128, 0.075);
	cursor: pointer;
	position: relative;
	color: rgb(114, 114, 114);
    border: none;
}

.active_tabs  {
	background: white;
	border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
	padding: 10px;
	text-align: center;
	width: 20%;
	cursor: pointer;
	position: relative;
	color: rgb(114, 114, 114);
    border: none;
}

.control{
	margin: 0 30px;
}
.control b {
    padding: 5px;
    font-size: 12px;
}
.b_1{
    color: red;
}
.b_2{
    color: rgb(255, 208, 0);
}
.b_3{
    color: rgb(72, 255, 0);
}

.content_block {
	flex-grow : 1;
	border-radius: 0 0 10px 10px;
  /* overflow: scroll; */
    background: rgba(255, 255, 255);
    height: 100%;
}

.menu{
    width: 100%;
    height: 40px;
    background: white;
    position: relative;
}

.content {
    
      /* width: 100%; */
    display: none;
    /* margin: 0 auto; */
}

.content_main{
    border-top: 1px solid #dadada;
    height: 460px;
    padding: 10px 30px;
    border-radius: 0 0 10px 10px;
    overflow: scroll;
}

.active_content {
	display: block;
}