@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

*{
  padding: 0;
  margin: 0;
  
}
body {
  color: #333;
  font-family: "Poppins";
}

.container {
  background: linear-gradient(to top,#b9c6d2 0%,#d0dde9 10.45%,#edf0f8 41.35%);
  /* width: 1080px; */
  min-height: 100vh;
  margin: 0 auto;
}
/* @media (max-width: 1280px) {
  .container{width: 80%;}
} */
ul{
  list-style: none;
}

a {
  color: aliceblue;
  text-decoration: none;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 0px;
  color: #777;
  background-color: #333;
  position:absolute;
  bottom: 0;
  width: 100%;
}

pre{
  background-color: #373a47;
  color: #b9c6d2;
  padding: 20px;
  border-radius: 10px;
  width: 700px;
}

/* burger-menu */

#outer-container{
  background-color: #373a47;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #005b99;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: rgb(30, 48, 110);
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
/* burger-menu END*/


/* window-look tab */
.window{
	display: flex;
	flex-direction: column;
	width: 65%;
	height: 600px;
	background: #ecececb6;
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	box-shadow: 0px 10px 20px rgba(0,0,0, 0.3);
}
@media (max-width: 1280px) {
  .window{width: 80%;}
}

.control{
	margin: 0 40px;
}

.bloc_tabs {
	display: flex;
	padding-top: 15px;
}

.tabs {
	border-radius: 10px 10px 0 0;
	padding: 10px;
	text-align: center;
	width: 20%;
	background: rgba(128, 128, 128, 0.075);
	cursor: pointer;
	position: relative;
	color: rgb(114, 114, 114);
}
.tabs:not(:last-child){
	border-right: 1px solid rgba(105, 105, 105, 0.274);
}

.active-tabs  {
	background: white;
	border-radius: 10px 10px 0 0;
}

button {
	border: none;
}

.content_block {
	flex-grow : 1;
	border-radius: 0 0 10px 10px;
  overflow: scroll;
  background: white;
}
.content {
	background: rgb(122, 185, 201);
	width: 100%;
	min-height: 100%;
	display: none;
  padding: 50px 20px;
  margin: 0 auto;
}

.active-content {
	display: block;
}