.works{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to top,#b9c6d2 0%,#d0dde9 10.45%,#edf0f8 41.35%); 

}
.title{
    font-size: 40px;
    text-align: center;
    /* background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);  */   
    margin-bottom: 30px;
    color: #13547a;
}
.main{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    
}
.card_wrapper{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}
.card{
    width: 220px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    
}
.card i{
    font-size: 30px;
}
.inner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);    
    clip-path: polygon(0% 0%, 85% 0, 100% 40%, 100% 100%, 0% 100%);
    height: 90%;
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
}
.work_page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 70%;
    margin: 0 auto;
    background: linear-gradient(to top,#b9c6d2 0%,#d0dde9 10.45%,#edf0f8 41.35%);
}
.detail_main{
    padding-top: 150px;
    width: 90%;
    height: 50%;
}
.detail_header{
    background-color: #ddd;
    border-radius: 10px 10px 0 0;
    height: 30px;
}

.btn{
    color: #fff;
    background: rgb(104, 104, 104);
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    position: absolute;
    bottom: 50px;
    left: 50px; 
    cursor: pointer;
}